<div id="wrapper">
    <h1>CraigsList Advertisements</h1>
    <div id="clAds"></div>
    <div id="comments"></div>

    <button><a href="/scrape">Scrape</a></button>
    <button><a href="/listings">Listings</a></button>

</div>